---
title: Product design portfolio
name: product-design
---


<div class="product-design">
    
    <div class="header">
        <div class="header-logo">

            <a href="/" class="  fancy-cta"><h1>rg</h1></a>

        </div>
     
    
        <div class="header-page-title ">
            <div class=""><h1>product designer</h1></div> 
        </div>

    </div>

    <div class="pd-project pd-project--gb">
        <div class="pd-project__img">
            <img src="/assets/toolkit/images/work/gb-thumb.png">
    
        </div>
    
        <div class="pd-project__info">
            <h2>Geckoboard</h2>
            <span>Updating a 12 year old interface, whilst enhancing the usability and readability of TV dashboards.
            </span>
            <div class="btn-container"><btn class="btn"><a href="/geckoboard">read case study</a></btn></div>
            
        </div>

    </div>

    <div class="pd-project pd-project--red">
        <div class="pd-project__img">
            <img src="/assets/toolkit/images/work/red-thumb.png">
    
        </div>
    
        <div class="pd-project__info">
            <h2>Rehau</h2>
            <span>A platform for a German family-led business to manage their property portfolio.
            </span>
            <div class="btn-container"><btn class="btn">coming soon</btn></div>
        </div>

    </div>
    

<!--     

    <div class="pd-project__img pd-project__img--planet">
        <img src="/assets/toolkit/images/work/planet-thumb.png">
    </div>
    <div class="pd-project__info pd-project__info--planet">
        <h2>PLANet</h2>
        <span>Updating an outdated street light management system to be ready for global installs.
        </span>
        <div class="btn-container"><btn class="btn">coming soon</btn></div>
        
    </div>

    <div class="pd-white-angle-stripe pd-white-angle-stripe--reversed"></div>

    <div class="pd-project__img pd-project__img--lm">
        <img src="/assets/toolkit/images/work/lm-thumb.png">
    </div>
    <div class="pd-project__info pd-project__info--lm">
        <h2>Limpid Markets</h2>
        <span>A platform to trade coal globally.
        </span>
        <div class="btn-container"><btn class="btn">coming soon</btn></div>
        
    </div> -->
    
</div>