---
title: Product design portfolio
name: product-design
---


<div class="product-design">
    
    <div class="logo">
        <div class="text-positioner"><a href="/" class="fancy-cta"><h1>rg</h1></a></div>
    </div>

    <div class="pd-page-title ">
       <div class="text-positioner text-positioner--left"><h1>PRODUCT DESIGNER</h1></div> 
    </div>

    
    <div class="pd-most-recent-img">
        <img src="/assets/toolkit/images/work/gb-thumb.png">

    </div>

    <div class="pd-most-recent-info">
        <h2>Geckoboard</h2>
        <span>Updating a 12 year old interface, whilst enhancing the usability and readability of TV dashboards.
        </span>
        <div class="btn-container"><btn class="btn">coming soon</btn></div>
        
    </div>
    


    <div class="pd-white-angle-stripe"></div>

    <div class="pd-project__img pd-project__img--lm">
        <img src="/assets/toolkit/images/work/lm-thumb.png">
    </div>
    <div class="pd-project__info pd-project__info--lm">
        <h2>Limpid Markets</h2>
        <span>A platform to trade coal.
        </span>
        <div class="btn-container"><btn class="btn">coming soon</btn></div>
        
    </div>

    <div class="pink-footer">
        <ul class="social--pink list-plain">
            <li>
                <a href="https://www.twitter.com/rachaelgrocott" target="_blank" class="fancy-cta"
                    ><h3 class="fancy-cta">twitter</h3></a
                >
            </li>
            <li class="insta">
                <a
                    href="https://www.instagram.com/rachaelgrocott/?hl=en"
                    target="_blank"
                    class="fancy-cta"
                    ><h3 class="fancy-cta">insta</h3></a
                >
            </li>
            <li class="instagram">
                <a
                    href="https://www.instagram.com/rachaelgrocott/?hl=en"
                    target="_blank"
                    class="fancy-cta"
                    ><h3 class="fancy-cta">instagram</h3></a
                >
            </li>

            <li>
                <a
                    href="https://www.linkedin.com/in/rachaelgrocott/"
                    target="_blank"
                    class="fancy-cta"
                    ><h3 class="fancy-cta">linkedin</h3></a
                >
            </li>
        </ul>
    </div>

    <div class="yellow-footer"></div>

    
</div>