.grid-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;

    @include respond-min($bp-medium) {
        min-height: auto;
        padding: 1rem;

    }

    @include respond-min($bp-large) {
        padding: 1.5rem;

    }

    @include respond-min($bp-x-large) {
        padding: 2rem;

    }

}

.grid-container--1 {

    background-image: url("/assets/toolkit/images/home/pattern1.svg");
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-position: top;
    background-color: $c-grey;

    @include respond-min($bp-medium) {

        background-position: center;

    }

    @include respond-min($bp-large) {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        background-position: top;

    }
 
}

.grid-container--2 {

    background-image: url("/assets/toolkit/images/home/pattern2.svg");
    background-color: $c-pink;
    background-repeat: space;
    grid-column: 4 / 7;
    grid-row: 1 / 3;

    @include respond-min($bp-large) {
        grid-column: 3 / 5;
        grid-row: 1 / 4;
    }

    @include respond-min($bp-x-large) {

        background-repeat: repeat;
    }

}

.grid-container--3 {

    background: url("/assets/toolkit/images/home/pattern3.svg");
    background-color: $c-green;
    background-repeat: none;
    background-size: contain;
    background-position: center;
    grid-column: 4 / 7;
    grid-row: 5 / 7;

    @include respond-min($bp-large) {
        grid-column: 5 / 7;
        grid-row: 1 / 4;
    }


}

.grid-container--4 {

    background-image: url("/assets/toolkit/images/home/pattern4.svg");
    background-color: $c-pink;
    background-position: center;
    grid-column: 1 / 4;
    grid-row: 5 / 7;
    background-size: contain;

 
    @include respond-min($bp-large) {
        grid-column: 1 / 3;
        grid-row: 4 / 7;
        background-size: initial;

    }

}

.grid-container--5 {

    background-image: url("/assets/toolkit/images/home/pattern5.svg");
    background-color: $c-blue;
    background-size: initial;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    background-size: 50%;
    justify-content: center;
    display: flex;
    align-items: center;


    @include respond-min($bp-large) {
        background-size: initial;
        background-image: none;
        grid-column: 3 / 5;
        grid-row: 4 / 7;

        .wrapper {
      
  
            .eyes {
              position: relative;
        
            .whites {
                    display: flex;
              flex-direction: row;
              justify-content: space-between;
              position: relative;
            }
            
            .pupils {
              position: absolute;
                    display: flex;
              flex-direction: row;
              justify-content: space-between;
              top: 0;
            }
              
              .white {
                border-radius: 50%;
                position: relative;
                z-index: 2;
                overflow: hidden;
                background-color: $c-grey;
                width: 160px;
                height: 190px;
                
        
              }
              
              .left-white {
                width: 160px;
                height: 190px;
                animation: blink 6s linear infinite;
                margin-right: -20px;
                z-index: 1;
        
              }
              
              .right-white {
                width: 160px;
                height: 190px;
                animation: blink 6s linear infinite;
                margin-left: -20px;
                z-index: 0;
              }
              
                .pupil {
                  width: 100px;
                  height: 115px;
                  background-color: $c-black;
                  border-radius: 50%;
                  z-index: 1;
                  
                  &.right-pupil {
                    margin-top: 40px;
                    margin-left: 30px;
                    animation: pupils-right 3s linear infinite;
                    z-index: 9999;
        
                  }
                  
                  &.left-pupil {
                    margin-top: 40px;
                    margin-left: 20px;
                    display: block;
                    animation: pupils-left 3s linear infinite;
                  }
                }
            }
          }
            // Keyframes
        @keyframes blink {
          1% {
            height: 0;
            margin-top: 100px;
          }
          5% {
            height: 190px;
            margin-top: 0px;
          }
          
        }
        
        
        @keyframes pupils-right {
            0%   {
              
            }
            20%  {
              margin-top: 40px;
              margin-left: 30px;
            }
            30%  {    
              margin-top: 60px;
              margin-left: 33px;
            }

            45% {
              margin-top: 40px;
              margin-left: 30px;
            }
            60% {
              margin-top: 40px;
              margin-left: 30px;
            }
          }
          
          @keyframes pupils-left {
            0%   {}
            20%  {
              margin-top: 40px;
              margin-left: 20px;
            }
            30%  {    
              margin-top: 60px;
              margin-left: 20px;
            }

            45% {
              margin-top: 40px;
              margin-left: 20px;
            }
            60% {
              margin-top: 40px;
              margin-left: 20px;
            }
        }
    }
    

  
  

    
  }
      


.grid-container--6 {

    background-image: url("/assets/toolkit/images/home/pattern6.svg");
    background-color: $c-grey;
    background-position: bottom;
    grid-column: 4 / 7;
    grid-row: 3 / 5;


    @include respond-min($bp-large) {
        grid-column: 5 / 7;
        grid-row: 4 / 7;
        background-size: cover;

        background-position: bottom;
    }

    @include respond-min($bp-x-large) {
        background-position: right;
        background-size: cover;
    }
}

.grid-container--7 {

    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: $c-pink; 

    @include respond-min($bp-large) {
        grid-column: 1 / 3;
        grid-row: 1 / 7;
        display: flex;
        align-items: center;
        justify-items: flex-start;
        justify-content: flex-end;
    }
 
}

.grid-container--8 {

    background-color: $c-yellow;
    grid-column: 1 / 1;
    grid-row: 1 / 2;

    @include respond-min($bp-medium) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    @include respond-min($bp-large) {
        grid-column: 3 / 5;
        grid-row: 1 / 4;
    }


}

.grid-container--9 {

    background-color: $c-blue;
    grid-column: 1 / 1;
    grid-row: 2 / 3;

    @include respond-min($bp-medium) {
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }

    @include respond-min($bp-large) {
        grid-column: 5 / 7;
        grid-row: 1 / 4;
    }


}

.grid-container--10 {

    background-color: $c-green;
    grid-column: 1 / 1;
    grid-row: 3 / 4;

    @include respond-min($bp-medium) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

 
    @include respond-min($bp-large) {
        grid-column: 3 / 5;
        grid-row: 4 / 7;

    }

}

.grid-container--11 {

    background-color: $c-grey;
    grid-column: 1 / 1;
    grid-row: 4 / 5;
    background-image: url("/assets/toolkit/images/home/pattern11.svg");

    @include respond-min($bp-medium) {
        grid-column: 4 / 7;
        grid-row: 2 / 3;
    }

    @include respond-min($bp-large) {

        grid-column: 5 / 7;
        grid-row: 4 / 7;
    }

}

.grid-container_img {
    align-self:flex-start;
    padding-bottom: 1rem;
    max-height:80px;

    @include respond-min($bp-x-large) {

        padding-bottom: 2rem;

    }
}

.grid-container_ul {
    list-style: none;
    text-transform: none;
    position: relative;
    margin-left: -13px;
    min-height: 215px;
    line-height: 1.5;


    li {
        position: relative;
        padding: .5rem 0;
        &::before {


            content: url("/assets/toolkit/images/home/arrow.svg");
            position: absolute;
            left: -25px;
        }
    }
}

.grid-container_social {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding-left: 0;

    h2 {
        padding-bottom: 0;
    }


    
    ul {
    }

    li {
        padding: 1rem 0;
    }
}

.grid-container_read-more {
    padding-top: 1rem;
    font-family: 'silkamedium';
}