.home {
    border: 10px solid $c-white;
    background-color: $c-white;

}

.home-header {
    position: relative;
    text-transform: uppercase;
    display: grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-bottom: 0;
    height: 99.5vh;
    width: 95vw;
    @include respond-min($bp-medium) {
        width:99vw;

    }
}

// .home-header_row {
//     display: flex;
//     flex-wrap: wrap;
//     height: 33vh; 


//     @include respond-min($bp-large) {
//         height: 49.75vh; 

//     }

// }
.home-header-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 2 / 3;        
    grid-column: 1 / 7;

    @include respond-min($bp-large) {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        padding-left: 2rem;
    }


    @include respond-min($bp-x-large) {
        padding-left: 3rem;

    }


}

.home-header_text {
    display: flex;
    flex-direction: column;

    align-self: auto;
    line-height: .7;

    @include respond-min($bp-x-large) {
        left: 10vw;

    }

    h3 {
        padding-bottom: 20px;

        @include respond-min($bp-medium) {
            font-size: calc(12px + 20* ((100vw - 320px) / 800));
            padding-bottom: 30px;
        }

        @include respond-min($bp-x-large) {
            padding-bottom: 40px;
        }
    }
}

.home-body {
    position: relative;
    text-transform: uppercase;
    display: grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-bottom: 0;
    height: 99.5vh;
    width: 95vw;

    .grid-container {

        min-height: 375px;

        @include respond-min($bp-medium) {
            min-height: auto;

        }
    }

    @include respond-min($bp-medium) {
        width:99vw;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @include respond-min($bp-large) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);    
    }
}

.home-cta {
    font-weight: 800;
    position: relative;
    padding-top:1rem;
    display: flex;
    transition: all .15s ease-out;

    &:hover {

                
        .home-cta-arrow {
            transform: translateX(5px);
            transition: all .15s ease-out;
        }
        
        .home-cta-arrow--2 {
            transform: translateX(10px);
            transition: all .15s ease-out;
        }
    }
}


.home-cta-arrow {
padding: 0 10px;
transition: all .15s ease-out;

}

.home-cta-arrow--2 {
    transition: all .15s ease-out;


}
