@font-face {
    font-family: 'silkablack';
    src: url('../webfonts/silka-black-webfont.eot');
    src: url('../webfonts/silka-black-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('../webfonts/silka-black-webfont.woff2') format('woff2'),
        url('../webfonts/silka-black-webfont.woff') format('woff'),
        url('../webfonts/silka-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkamedium';
    src: url('../webfonts/silka-medium-webfont.eot');
    src: url('../webfonts/silka-medium-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('../webfonts/silka-medium-webfont.woff2') format('woff2'),
        url('../webfonts/silka-medium-webfont.woff') format('woff'),
        url('../webfonts/silka-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
