/**
 * Typography
 *
 * $fs- : font-size
 * $ff- : font-family
 */

// An attempt at a modular scale need to improve this
// http://www.modularscale.com/
$modular-scale: 1;

$fs-1: ($base-font-size * ($modular-scale * 2));

$fs-2: ($base-font-size * ($modular-scale * 1.6));

$fs-3: ($base-font-size * ($modular-scale * 1.2));

$fs-4: ($base-font-size * ($modular-scale * 1));

$fs-5: ($base-font-size * ($modular-scale * 0.8));

$ff-sans: 'silkablack';

$ff-serif: 'silkablack';

html,
body {
    font-family: 'silkablack';
    font-size: $base-font-size;
    line-height: $base-line-height / $base-font-size;
    text-align: left;
}

h1,
.h1 {
    font-size: $fs-2;
    color: $c-black;
    position: relative;
    font-weight: 400;

    @include respond-min($bp-medium) {
        font-size: $fs-1;
    }
}

h2,
.h2 {
    font-size: $fs-3;
    color: $c-black;

    @include respond-min($bp-medium) {
        font-size: $fs-2;
    }
}

h3,
.h3 {
    font-size: $fs-4;

    @include respond-min($bp-medium) {
        font-size: $fs-3;
    }
}

h4,
.h4 {
    font-size: $fs-4;
}
