/**
 * Typography
 *
 * $fs- : font-size
 * $ff- : font-family
 */

// An attempt at a modular scale need to improve this
// http://www.modularscale.com/
$modular-scale: 1;

$fs-1: ($base-font-size * ($modular-scale * 2));

$fs-2: ($base-font-size * ($modular-scale * 1.6));

$fs-3: ($base-font-size * ($modular-scale * 1.2));

$fs-4: ($base-font-size * ($modular-scale * 1));

$fs-5: ($base-font-size * ($modular-scale * 0.8));

$ff-sans: 'silkamedium';

$ff-serif: 'silkablack';

html,
body,
p {
    font-family: 'silkamedium';
    font-weight: 400;
    font-size: calc(16px + 14*((100vw - 320px)/800));

    @include respond-min($bp-medium) {
        font-size: calc(14px + 6*((100vw - 320px)/800));
    }

    @include respond-min($bp-x-large) {
        font-size: calc(13px + 4*((100vw - 320px)/800));    }


}

h1,
.h1 {
    font-size: calc(32px + 20*((100vw - 320px)/800));
    color: $c-black;
    position: relative;
    font-weight: 800;
    font-family: 'silkablack';


    @include respond-min($bp-medium) {
        font-size: calc(36px + 24 * ((100vw - 320px) / 800));
    }

    @include respond-min($bp-x-large) {
        font-size: calc(36px + 45*((100vw - 320px)/800));    
    }
}

h2,
.h2 {
    font-size: calc(30px + 20*((100vw - 320px)/800));
    color: $c-black;
    position: relative;
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: 'silkablack';


    @include respond-min($bp-medium) {
        font-size: calc(36px + 18*((100vw - 320px) / 800));
    }

    @include respond-min($bp-x-large) {
        font-size: calc(20px + 20*((100vw - 320px)/800));    
    }
}

h3,
.h3 {
    font-size: calc(24px + 20*((100vw - 320px)/800));
    color: $c-black;
    position: relative;
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: 'silkablack';


    @include respond-min($bp-medium) {
        font-size: calc(12px + 12* ((100vw - 320px) / 800));
    }

}

h4,
.h4 {
    font-size: $fs-4;
}
