/**
 * Project variables
 *
 * Conventions:
 * - Base units: prefix $base-
 * - Colours: prefix $c-
 * - Breakpoints: prefix $bp-
 */

/**
  * Colours:
  */

$c-black: #161616;
$c-mint: #0aeed3;
$c-yellow: #ffe600;
$c-pink: #ff77e1;
$c-white: #fcfcfc;

/* Base units */

$base-font-color: $c-black;

$base-link-color: $c-black;

$base-font-size: 32px;

$base-line-height: 32px;

$base-max-width: 610px;

$base-spacing-unit: $base-line-height;

$base-line-height-ratio: $base-line-height / $base-font-size;

$base-background-color: $c-white;

/**
 * Breakpoints:
 * Refrain from device names, they mean nothings no more
 */

$bp-small: em(460px);

$bp-medium: em(720px);

$bp-large: em(960px);

$bp-x-large: em(1280px);
