.circle-position {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;

    @include respond-min($bp-medium) {
        padding: 15px;
    }

    @include respond-min($bp-large) {
        padding: 30px;
    }
}

.circle-9 {
    @include respond-min(400px) {
        display: none;
    }
}

.circle-8 {
    @include respond-min(500px) {
        display: none;
    }
}

.circle-7 {
    @include respond-min(560px) {
        display: none;
    }
}

.circle-6 {
    @include respond-min(620px) {
        display: none;
    }
}

.circle-5 {
    @include respond-min(800px) {
        display: none;
    }

    @media screen and (max-height: 850px) {
        display: none;
    }
}

.circle-4 {
    @include respond-min(960px) {
        display: none;
    }
    @media screen and (max-height: 720px) {
        display: none;
    }
}

.circle-3 {
    @include respond-min(960px) {
        display: none;
    }
    @media screen and (max-height: 500px) {
        display: none;
    }
}
