.circles--white {
    grid-column: 11 / 13;
    grid-row: 6 / 19;
    position: relative;
    background-color: $c-white;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 11 / 13;
        grid-row: 4 / 17;
    }

    @include respond-min($bp-large) {
        grid-column: 10 / 12;
        grid-row: 9 /17;
    }
}
