.mint-stripe {
    grid-column: 1 / 6;
    grid-row: 9 / 13;
    position: relative;
    background: repeating-linear-gradient(
        -54deg,
        #000,
        #000 20px,
        $c-mint 20px,
        $c-mint 42px
    );

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }
    @include respond-min($bp-medium) {
        grid-column: 1 / 8;
        grid-row: 12 / 15;
    }

    @include respond-min($bp-large) {
        grid-column: 6 / 10;
        grid-row: 13 / 17;
        background: repeating-linear-gradient(
            -54deg,
            #000,
            #000 20px,
            $c-mint 20px,
            $c-mint 52px
        );
    }
}
