.mint {
    @include respond-min($bp-medium) {
        grid-column: 1 / 6;
        grid-row: 22 / 25;
        position: relative;
        background-color: $c-mint;

        &:after {
            position: absolute;
            border: 10px solid black;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            content: '';
        }
    }

    @include respond-min($bp-large) {
        grid-column: 1 / 9;
        grid-row: 21 / 25;
    }
}
