.name {
    grid-column: 1 / 13;
    grid-row: 1 / 4;
    position: relative;
    background-color: $c-green;
    // font-size: 77px;
    text-align: center;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 1 / 10;
        grid-row: 1 / 4;
    }

    @include respond-min($bp-large) {
        grid-column: 1 / 8;
        grid-row: 1 / 5;
    }
}
