.pink {
    color: $c-black !important;


    @include respond-min($bp-medium) {
        grid-column: 6 / 13;
        grid-row: 22 / 25;
        position: relative;
        background-color: $c-pink;
        &:after {
            position: absolute;
            border: 10px solid black;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            content: '';
        }
    }

    @include respond-min($bp-large) {
        grid-column: 10 / 13;
        grid-row: 17 / 25;
    }
}

.social--pink {
    display: none;

    @include respond-min($bp-medium) {
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: row;
        position: absolute;
        width: 100%;
        z-index: 10;
        font-size: calc(12px + 18*((100vw - 320px)/800));
        position: relative;
        font-weight: 800;

        li {
            padding: 10px;
        }
    }

    @include respond-min($bp-medium) {
        font-size: calc(12px + 18 * ((100vw - 320px) / 800));
    }

    @include respond-min($bp-large) {
        flex-direction: column;
    }

    @include respond-min($bp-x-large) {
        font-size: calc(18px + 20*((100vw - 320px)/800));    
    }

    a: {
        color: $c-black !important;
    }


    a:hover {
        color: $c-pink;
    }
}

.insta {
    display: block;

    @include respond-min($bp-large) {
        display: none !important;
    }
}

.instagram {
    display: none !important;
    @include respond-min($bp-large) {
        display: block !important;
    }
}


