.triangle-row {
    justify-content: space-between;
    display: flex;
    height: 100%;
    padding: 10px;

    @include respond-min($bp-medium) {
        padding: 15px;
    }

    @include respond-min($bp-large) {
        padding: 15px;
    }

    img {
        max-width: 40%;
        // padding: 10px;
    }

    @include respond-min($bp-large) {
        img: {
            max-width: 100%;
        }
    }
}

.triangle-row--yellow {
    align-items: center;
    justify-content: center;

    img {
        max-width: 80%;
    }

    @include respond-min($bp-medium) {
        img {
            max-width: 40%;
            padding: 10px;
        }
    }
}

.triangle-3 {
    display: none;
    @include respond-min($bp-large) {
        display: block;
    }
}

.triangle-4 {
    display: none;
    @include respond-min($bp-large) {
        display: block;
    }
}

.triangle-5 {
    display: none;

    @include respond-min($bp-x-large) {
        display: block;
    }
}

.triangle-7 {
    display: none;

    @include respond-min($bp-medium) {
        display: block;
    }
}

.triangle-8 {
    display: none;

    @include respond-min($bp-x-large) {
        display: block;
    }
}
