.triangles--yellow {
    grid-column: 1 / 6;
    grid-row: 13 / 17;
    position: relative;
    background-color: $c-yellow;

    text-align: center;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 3 / 8;
        grid-row: 15 / 19;
    }

    @include respond-min($bp-large) {
        grid-column: 1 / 4;
        grid-row: 17 / 21;
    }
}
