.triangles--white {
    grid-column: 9 / 13;
    grid-row: 4 / 6;
    position: relative;
    background-color: $c-white;

    text-align: center;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 10 / 13;
        grid-row: 1 / 4;
    }

    @include respond-min($bp-large) {
        grid-column: 8 / 13;
        grid-row: 1 / 5;
    }
}
