.yellow-footer {
    display: none;
    @include respond-min($bp-medium) {
        display: block;
        grid-column: 1 / 9;
        grid-row: 19 / 21;
        position: relative;
        background-color: $c-yellow;
        &:after {
            position: absolute;
            border: 10px solid black;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            content: '';
        }
    }

    @include respond-min($bp-large) {
        grid-column: 1 / 9;
        grid-row: 19 / 21;
    }
}