.yellow {
    grid-column: 9 / 13;
    grid-row: 19 / 25;
    position: relative;
    background-color: $c-yellow;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 10 / 13;
        grid-row: 17 / 19;
    }

    @include respond-min($bp-large) {
        grid-column: 10 / 13;
        grid-row: 5 / 9;
    }

    .text-positioner {
        display: none;

        @include respond-min($bp-medium) {
            display: flex;
        }
    }

    h1:hover {
        color: $c-yellow;
    }
}

.social--yellow {
    font-size: calc(18px + 8 * ((100vw - 320px) / 800));
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 10;

    li {
        padding: 10px;
    }

    @include respond-min(480px) {
        font-size: calc(30px + 8 * ((100vw - 320px) / 800));
    }

    @include respond-min($bp-medium) {
        display: none;
    }
}
