<div class="row">

    <div class="case-study-about col-xs-3">
        <h1>Limpid Markets</h1>
        <span>A product used by the world's major banks to trade precious metal derivatives</span>
    </div>

    <div class="case-study-body col-xs-8">
        <h3>The brief</h3>

        <p class="case-study-para">
            Precious metal derivatives have traditionally been arranged via
            a voice broker acting as a middleman between traders to arrange
            deals. But a new generation of traders have become used to
            agreeing deals using online platforms which removes the need
            for a broker and reduces fees, whilst providing greater
            transparency. Up until Limpid Markets, there’s been no such
            platform for precious metal derivatives.

        </p>

        <div class="case-study-video">

            <video width="100%" loop autoplay>

                <source
                    src="https://s3-eu-west-1.amazonaws.com/uvd-production/videos/limpid-markets/LM-trading-video-opt.mp4"
                    type="video/mp4">

            </video>

        </div>

        <p class="case-study-para">
            This is a product that UVD have worked on since the startup
            launched six years ago, therefore a lot of my role has been
            to make ongoing improvements to the user experience and
            design, as well as adding new products to the platform.

        </p>

        <h3>Understanding</h3>

        <p class="case-study-para">
            Once we’ve worked with Limpid Markets’ founder to establish
            the next highest priority improvement, we’ll begin an impact
            mapping exercise to establish ways we can solve the problem.
            From there, we’ll write a script of questions to ask the users.
        </p>

        <p class="case-study-para">
            These are busy, time poor traders who have high expectations
            from the product, so when speaking to them, we have to be sure
            we’re asking the right questions to make the best use of their time.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-research.jpg" alt="Limpid Markets user research">
        </div>

        <p class="case-study-para">
            After speaking to the traders we add a summary of the interview
            to Airtable which can be distrubuted amonst our team, as well
            as with Limpid Markets’ founder.
        </p>

        <h3>UX improvements</h3>

        <p class="case-study-para">
            One thing I really wanted to tackle on Limpid Markets was the high
            level menu items which were hard to understand, but also
            inconsistent.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-menu.gif" alt="Limpid Markets old menu">
        </div>

        <p class="case-study-para">
        <ul>
            <li>Clicking the cog opened a modal</li>
            <li>[bin] orders opened a drop down menu to allow users to remove
                their orders from the board
            </li>
            <li>The alarm clock opened the same drop down but allowed users to add a time that their orders would be
                automatically removed (obvious, right?!)
            </li>
            <li>And the bell actually opened an activity feed</li>
        </ul>

        </p>

        <p class="case-study-para">
            We found that traders would often ask us how to remove their orders at a scheduled time
            as well as asking us about some more complex settings that were hidden behind the cog.
            Therefore a good KPI for this improvement was that we'd see less traders
            asking us how to do certain things, as well as tracking the new feature
            using <a href="https://matomo.org/" target="_blank">Matomo</a>.
        </p>

        <h3>Wireframes</h3>

        <p class="case-study-para">
            When we’re looking for solutions to our probelms, I will always run
            what we’ve coined a ‘sketching session’. This will involve the Product
            Owner, and our product team consisting of me, a frontend developer and
            a backend developer. Bringing everyone together for the early ideas
            generation not only gives us a much broader range of solutions, but
            the engineers can tell us at the pen and paper stage what’s feasible.

        </p>

        <p class="case-study-para">
            Limpid Markets’ Product Owner is based in Madrid, so we used a tool
            called Realtime Board to collate the sketches and to give any feedback.

        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-sketching.jpg" alt="LM remote sketching session">
        </div>

        <p class="case-study-para">
            There were quite a range of ideas sketched out, so we decided to take
            three versions further. The big comment is the client stipulating which
            of the designs he likes best, which is surprisingly his own..!

        </p>

        <p class="case-study-para case-study-para--bold">
            V1
        </p>

        <p class="case-study-para">
            The client much preferred the option of a menu
            area sliding down from the top of the screen
            as this would give the most space for any future
            additions to a menu area.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-wireframe-v1.jpg" alt="LM wireframe v1">
        </div>

        <p class="case-study-para case-study-para--bold">
            V2
        </p>

        <p class="case-study-para">
            Another option here was to have a tabbed view,
            meaning the trading board would get it’s own view,
            and any settings can be accessed separately and
            with a lot of real-estate.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-wireframe-v2.jpg" alt="LM wireframe v2">
        </div>

        <p class="case-study-para case-study-para--bold">
            V3
        </p>

        <p class="case-study-para">
            This option was more left-field as we tend to
            heavily advise our desktop clients to never use
            a hamburger menu, but as the user base is small,
            and space is limited, we thought we’d give it a
            try.

        </p>

        <p class="case-study-para">
            The order management funtion was to remain outside of the menu to remove
            clicks to this often used feature.

        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/lm/lm-wireframe-v3.jpg" alt="LM wireframe v3">
        </div>

        <h3>Testing</h3>

        <p class="case-study-para">
            Once we had these three options, the next step was
            to see which the traders preferred. As this was to
            test a user journey, I used InVision to create a
            prototype, and at the time the ‘Live Share’ feature
            still worked, which was great as I could give the
            traders control and watch how they used the
            prototype.


        </p>

        <p class="case-study-para">
            After speaking to around ten traders, it was clear
            that the hamburger menu was the preferred option,
            so I was able to flesh out the prototype more and
            more until we had something that the traders,
            client and we were happy with.
        </p>

        <div class="case-study-video">

            <video width="100%" loop autoplay>

                <source src="https://s3.eu-west-2.amazonaws.com/rachael.portfolio.public/lm-prototype-opt.mp4"
                        type="video/mp4">
                <!-- <source src="https://s3-eu-west-1.amazonaws.com/uvd-production/videos/limpid-markets/LM-case-study-opt.webm" type="video/webm"> -->

            </video>

        </div>

        <h3>Final design</h3>

        <p class="case-study-para">
            Adding the final design touches to the screens allowed me to
            make a few more improvements to the frontend, such as editing
            the logo, and also brightening up the colour palette. The end
            result is something that the client is really happy with, and
            the clean design and subtle animations on the frontend have
            received great feedback from the users.

        </p>

        <div class="case-study-video">

            <video width="100%" loop autoplay>

                <source
                    src="https://s3.eu-west-2.amazonaws.com/rachael.portfolio.public/lm-menu-design-opt.mp4"
                    type="video/mp4">

            </video>
    
        </div>

        <p class="case-study-para">
            Then the whole process happens all over again
            for the next iteration of work  
        </p>

    </div>

</div>
