---
title: Work - Telensa
name: work
---

<div class="row">

    <div class="case-study-about col-xs-3">
        <h1>Telensa</h1>
        <span>Redesigning the world's number one wireless outdoor lighting control.</span>
    </div>

    <div class="case-study-body col-xs-8">
        <h3>The brief</h3>

        <p class="case-study-para">
            We were asked by Telensa to rework the UI of
            their street lighting control application.
            This is used by councils globally to control
            their street lighting, with the aim on
            eventually becoming a ‘smart city’ application.
            As the scope was so large, our MVP was to look
            at one aspect of the application which was daily
            fault management.

        </p>

        <h3>Discovery</h3>

        <p class="case-study-para">
            I worked as the sole designer on the project
            and began my journey by visiting users of the
            old system to see what tasks they need to
            complete and how they achieved them using
            the old system. This helped me focus on not
            only on the tasks that they needed to carry
            out, but also how to simplify the process
            for them.

        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/telensa/telensa-interviews.jpg" alt="Telensa user interview script">
        </div>

        <p class="case-study-para">
            After visiting the users of the system, I was
            in a much better place to have some real
            input into the user story mapping session.
            This is a big product, and because of that,
            a lot of internal stakeholders came along
            for the user story mapping session. But
            between us we nailed down the core
            functionality for the fault finding aspect
            of the product.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/telensa/telensa-user-story-map.jpg" alt="Telensa user story map">
        </div>

        <h2>Design</h2>

        <h3>Wireframes</h3>

        <p class="case-study-para">
            Using the user stories and personas as a
            guide at all times, I worked up wireframes
            to test on internal users and also users at
            councils in Essex, Leicester and Ipswich.
            The initial wireframes covered viewing a
            triage of any fults on a given day, and
            then digging deeper into that fault to enable
            diagnosis.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/telensa/telensa-wireframes.jpg" alt="Telensa wireframes">
        </div>

        <p class="case-study-para">
            Using their feedback, I was able to quickly
            amend the wireframes and then move on to
            create my grid system and style guide.

        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/telensa/telensa-styleguide.jpg" alt="Telensa styleguide">
        </div>

        <h3>High fidelity design</h3>

        <p class="case-study-para">
            The final design uses Google’s material design as this
            application is used globally, I wanted to UI to be as easy
            to use, and modern as possible.


        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/telensa/telensa-final.jpg" alt="Telensa styleguide">
        </div>

        <p class="case-study-para">
            I'm now beginning the pricess again to look at another aspect of the product.
        </p>

    </div>
</div>
