<div class="about">
    <p>
        My current role covers a
        wide range of fields: UX & UI design, interaction design,
        product design and also frontend development.
    </p>

    <p>
        What that means is I’ll take a problem that our clients
        have and work with their customers to validate that the
        problem exists, then work on a solution; quick prototyping
        to test on end users. I’ll then work this into a high fidelity
        mock-up for approval before styling the HTML/CSS/SaSS. During development
        I’ll work closely with the team to ensure that the
        output is just right.

    </p>

    <p>
        Behind the scenes I’m a big advocate of grids and styleguides which
        help with my obsession for detail. My inspiration comes from everywhere;
        I love to travel, and find that my passion for old school crafts (calligraphy/pot throwing) keeps me
        excited in my day job.
    </p>

    <p>
        I’ve also got a good relationship with <a href="https://www.futureplc.com/" target="_blank">Future
        Publishing</a> who I’ve been fortunate to
        write a few articles for, most recently for
        <a href="https://www.creativebloq.com/features/the-web-designer-starter-toolkit" target="_blank">Creative
            Bloq</a> and
        <a href="https://www.myfavouritemagazines.co.uk/design/net-magazine-back-issues/net-march-2018-issue-303/"
           target="_blank">net Magazine</a>.
    </p>

</div>
