---
title: Work
name: work
---

<div class="about-me u-landmark-x-lrg">
    <p>
        Hey, I’m Rachael. I’m a UX and product
        designer based in London, currenty solving
        problems for our clients at <a href="https://www.uvd.co.uk/" target="_blank">UVD</a>, a small
        agency based in Shoreditch.
    </p>

</div>

<div class="work">

    <div class="work-item u-landmark-xx-lrg row">

        <div class="col-xs-4"></div>

        <div class="work-project col-xs-8">
            <a href="/work/telensa.html">
                <div class="work-project__img work-project__img--right" data-parallax-img-wrapper>
                    <img src="/assets/toolkit/images/homepage/work/telensa.jpg" alt="Telensa PLANet3 mockup">
                </div>

                <div class="work-project__info">
                    <h3>Telensa</h3>
                    <span>A street lighting control application used by councils worldwide.

                    </span>
                    
                </div>
            </a>
        </div>

    </div>

    <div class="work-item u-landmark-xx-lrg row">

        <div class="work-project col-xs-7">
            <a href="/work/limpid-markets.html">
                <div class="work-project__img">
                    <img src="/assets/toolkit/images/homepage/work/limpid.jpg" alt="Limpid coal mockup">
                </div>
            </a>
            <div class="work-project__info">
                <h3>Limpid Markets</h3>
                <span>A product used by the world's major banks, enabling them to trade precious metal derivatives.</span>
            </div>
        </div>

        <div class=" col-xs-5">

        </div>

    </div>


    <div class="work-item u-landmark-xx-lrg row">

        <div class="work-project col-xs-3">

        </div>

        <div class=" col-xs-9">
            <a href="/work/red.html">
                <div class="work-project__img work-project__img--right" data-parallax-img-wrapper>
                    <img src="/assets/toolkit/images/homepage/work/red.jpg" alt="RED responsive real estate database">
                </div>
            </a>
            <div class="work-project__info">
                <h3>RED</h3>
                <span>A real-estate database for landlords</span>
            </div>
        </div>


    </div>

    <div class="work-item u-landmark-xx-lrg row">

        <div class=" col-xs-1">

        </div>

        <div class="work-project col-xs-5">
            <a href="/work/memz.html">
                <div class="work-project__img work-project__img--right" data-parallax-img-wrapper>
                    <img src="/assets/toolkit/images/homepage/work/memz.jpg" alt="MEMZ feed mockup">
                </div>
            </a>
            <div class="work-project__info">
                <h3>MEMZ</h3>
                <span>A real-time photo sharing web app created in a hack week</span>
            </div>
        </div>

        <div class=" col-xs-5">

        </div>


    </div>

</div>

