---
title: Rachael Grocott
name: Rachael Grocott
---

<div class="body">
    <div class="name">
        <div class="text-positioner"><h1>Rachael Grocott</h1></div>
    </div>

    <div class="triangles--white">
        <div class="triangle-row">
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-1"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-2"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-3"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-4"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-5"
            />
        </div>
    </div>

    <div class="verticle-stripe"></div>

    <div class="job-title">
        <div class="text-positioner text-positioner--vertical"> <a href="/product-design" class="fancy-cta"><h1>product designer</h1></a>
        </div>
    </div>

    <div class="mint-stripe"></div>
    <div class="yellow">
        <div class="text-positioner">            
            <a href="/about" class="fancy-cta"><h1>about</h1></a>
        </div>
        <ul class="social--yellow list-plain">
            <li>
                <a href="https://www.twitter.com/rachaelgrocott" 
                target="_blank"
                class="fancy-cta"
                    ><h2>twitter</h2></a
                >
            </li>
            <li class="insta">
                <a
                    href="https://www.instagram.com/rachaelgrocott/?hl=en"
                    target="_blank"
                    class="fancy-cta"
                    ><h2>insta</h2></a
                >
            </li>
            <li class="instagram">
                <a
                    href="https://www.instagram.com/rachaelgrocott/?hl=en"
                    target="_blank"
                    class="fancy-cta"
                    ><h2>instagram</h2></a
                >
            </li>

            <li>
                <a
                    href="https://www.linkedin.com/in/rachaelgrocott/"
                    target="_blank"
                    class="fancy-cta"
                    ><h2>linkedin</h2></a
                >
            </li>
        </ul>
    </div>

    <div class="circles--white">
        <div class="circle-position">
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-1"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-2"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-3"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-4"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-5"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-6"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-7"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-8"
            /><img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-9"
            />
        </div>
    </div>
    <div class="white-angle-stripe"></div>
    <div class="triangles--yellow">
        <div class="text-positioner">            
            <a href="/about" class="fancy-cta"><h1>about</h1></a>
        </div>
        <div class="triangle-row triangle-row--yellow">
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-6"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-7"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-8"
            />
        </div>
    </div>
    <div class="side-hustle">
        <div class="text-positioner">
            <a href="https://www.triangirls.com/" class="fancy-cta" target="_blank"
                ><h1>co-founder</h1></a
            >
        </div>
    </div>
    <div class="mint"></div>
    <div class="horizontal-stripe"></div>
    <div class="pink">
        <ul class="social--pink list-plain">
            <li>
                <a href="https://www.twitter.com/rachaelgrocott" class="fancy-cta" target="_blank">twitter</a>
            </li>
            <li class="insta">
                <a href="https://www.instagram.com/rachaelgrocott/?hl=en" class="fancy-cta" target="_blank">insta</a>
            </li>
            <li class="instagram">
                <a href="https://www.instagram.com/rachaelgrocott/?hl=en" class="fancy-cta" target="_blank">instagram</a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/rachaelgrocott/" class="fancy-cta" target="_blank">linkedin</a>
            </li>
        </ul>
    </div>
    <div class="white-angle-stripe--tablet"></div>
</div>
