---
title: Rachael Grocott
name: Rachael Grocott
---

<div class="body">
    <div class="name">
        <div class="text-positioner"><p>Rachael Grocott</p></div>
    </div>

    <div class="triangles--white">
        <div class="triangle-row">
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-1"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-2"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-3"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-4"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-5"
            />
        </div>
    </div>

    <div class="verticle-stripe"></div>

    <div class="job-title">
        <div class="text-positioner--vertical"><p>Product designer</p></div>
    </div>

    <div class="mint-stripe"></div>
    <div class="yellow"></div>

    <div class="circles--white">
        <div class="circle-position">
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-1"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-2"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-3"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-4"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-5"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-6"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-7"
            />
            <img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-8"
            /><img
                src="/assets/toolkit/images/circle.svg"
                alt="triangle shape"
                class="circle-9"
            />
        </div>
    </div>
    <div class="white-angle-stripe"></div>
    <div class="triangles--yellow">
        <div class="triangle-row triangle-row--yellow">
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-6"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-7"
            />
            <img
                src="/assets/toolkit/images/triangle.svg"
                alt="triangle shape"
                class="triangle-8"
            />
        </div>
    </div>
    <div class="side-hustle">
        <div class="text-positioner"><p>co-founder</p></div>
    </div>
    <div class="mint"></div>
    <div class="horizontal-stripe"></div>
    <div class="pink"></div>
    <div class="white-angle-stripe--tablet"></div>
</div>
