<div class="variable-font">
    <div class="t">
        <div><p class="t-sizing">t</p></div>
    </div>
      <div class="r">
        <div><p class="r-sizing">r</p></div>
    </div>
      <div class="i">
        <div class=" "><p>i</p></div>
    </div>
      <div class="a">
        <div class=" "><p>a</p></div>
    </div>
    <div class="n">
        <div class=" "><p>n</p></div>
    </div>
    <div class="g">
        <div class=" "><p>g</p></div>
    </div>
    <div class="ii">
        <div class=" "><p>i</p></div>
    </div>
    <div class="rr">
        <div class=" "><p>r</p></div>
    </div>
    <div class="l">
        <div class=" "><p>l</p></div>
    </div>
    <div class="s">
        <div class=" "><p>s</p></div>
    </div>

</div>
