.accommodation {
    a {
        color: $c-mid-green;
        transition: all .3s;

        &:hover {
            color: $c-light-green;
            transition: all .3s;
        }
    }
}

.accommodation__container {

    @include respond-min($bp-medium) {
        flex-direction: row;
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}

.accommodation__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  
    // &:first-child {
    //   padding-top: 0;
    // }
  
    @include respond-min($bp-medium) {
      padding: 1rem 2rem;
  
    //   &:first-child {
    //     padding-top: 1rem;
    //   }
    }
  
    @include respond-min($bp-x-large) {
      padding: 1rem 3rem;
  
    }

}

.accommodation__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    padding-top: 1rem;

    span {
        font-weight: 700;
    }

    p {
        line-height: 1.5rem;
        margin: 0;
        text-align: center;
      }

      &:last-child {
        padding-top: 2rem;
    }
}