.gifts {
    background-color: $c-light-green;
    background-image: url('../images/gifts/gifts-leaves-bg.png');
    height: 100vh;
    margin-top: 3rem;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-min($bp-medium) {
        padding: 2rem;
        height: 94vh;
    }

    @include respond-min($bp-x-large) {
        padding: 5rem;
        height: 94vh;
    }
}

.gifts-container {
    background-color: white;
    height: 94vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn {
        margin: 1rem 0;
    }

    @include respond-min($bp-medium) {
        height: 70vh;

        .btn {
            margin: 3rem 0;
        }

    }
}