.header {
    background-image: url('../images/masthead/masthead-leaves--mob.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;

    // @include respond-min($bp-medium) {
    //   height: 70vh;

    // }
      
    @include respond-min($bp-x-large) {
      background-image: url('../images/masthead/masthead-leaves.jpg');
      height: 115vh;
      margin-top: 3rem;
      background-size: cover;
      background-position: center;
    }

    
}

.logo {
  margin: 0 auto;
  margin-top: 20vh;
  background-image: url('../images/masthead/masthead-logo.svg');
  background-size: cover;
  width: 190px;
  height: 190px;

    @include respond-min($bp-medium) {
      width: 275px;
      height: 275px;
    }


}
