.header {
  display: block;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;


  @include respond-min($bp-medium) {
    flex-direction: row;

  }
    
}

.header-logo {
  display: inline-block;
  align-self: left;
  margin-top: 3*($base-spacing-unit);

  svg {
    max-width: 300px;

  }

  @include respond-min($bp-medium) {
    margin-top: 0;
    }
}
