.nav {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    text-transform: uppercase;

    @include respond-min($bp-medium) {
      align-self: center;
      }

      // .nav-list__item {
      //   position: relative;
      //   transition: all .2s ease-in-out;

  }

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-list__item {
  padding: 0 .5rem;
  transition: all .3s;

  @include respond-min($bp-medium) {
    padding: 0 1rem;
  }

  @include respond-min($bp-large) {
    padding: 0 2.5rem;
  }

  &:last-child {
    padding-right:0;
  }

  // a:hover {
  //   color: $c-light-grey;
  //   transition: .15s color ease-in-out;
  //   text-decoration: underline;

  //   a:after {

  //     content: "";
  //     height: 2px;
  //     width: 100%;
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     background-color: #fff;
  //     -webkit-transform: scaleX(0);
  //     -ms-transform: scaleX(0);
  //     transform: scaleX(0);
  //     -webkit-transition: -webkit-transform .2s ease-in-out,width .1s ease-in-out;
  //     transition: transform .2s ease-in-out,width .1s ease-in-out;
  //     }
  //   }
}

// .nav--mobile {
//   text-transform: uppercase;
//   position: fixed;
//   z-index: 1000;
//   background-color: rgba(255, 255, 255, 0.95);
//   padding: .75rem;
//   top: 0;
//   width: 100%;
//   height: 65px;
//   font-weight: bolder;

//   @include respond-min($bp-medium) {
//     display: none;
//   }
// }

// .nav-list__item--mobile {
//   padding: .75rem 0;

// }

.nav-link {
  position: relative;

  &:hover {
    color: $c-light-grey;
    text-decoration: none;

    &:after {
      width: 100%;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition: -webkit-transform .2s ease-in-out,width .1s ease-in-out;
      transition: transform .2s ease-in-out,width .1s ease-in-out;
    }
  }

  &:after {
        
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: $c-light-grey;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s ease-in-out,width .1s ease-in-out;
    transition: transform .2s ease-in-out,width .1s ease-in-out;
    }


  }

.nav-list__item--active {
  // color: red;
  &:after { 
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: $c-light-grey;
    transform: none;
  }
}

.nav--mobile--open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  // background-color: rgba(189, 200, 168, 0.9);
  background-color: rgba(255, 255, 255, 0.95);

  padding: .75rem;
  top: 10vh;

  @include respond-min($bp-medium) {
    display: none;
  }

}

.nav-list--mobile {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  @include respond-min($bp-medium) {
    display: none;

  }
}
