<div class="protected password" data-id="protected" style="display:none">

    <div class="protected__alert" data-id="alert" style="display:none">You entered the wrong password</div>

    <div class="protected__content">
        <h1 class="protected__content__heading">You need a password to continue</h1>
        <div class="password-action">
            <input class="input-text" data-id="password" type="password" placeholder="password"/>
            <button data-id="button" type="button" class="btn">Continue</button>
        </div>

    </div>

</div>

<script type="text/javascript" src="https://cdn.rawgit.com/chrisveness/crypto/master/sha1.js"></script>
<script type="text/javascript">

    "use strict";

    var pathArray = window.location.pathname.split( '/' );
    var projectPath = pathArray[pathArray.length - 1];

    var protectedContainer = document.querySelectorAll('[data-id="protected"]');

    var button = document.querySelectorAll('[data-id="button"]');
    var password = document.querySelectorAll('[data-id="password"]');

    if (getSecret() !== null) {
        login(getSecret());
    } else {
        protectedContainer[0].style.display = 'block';
    }

    function login(secret) {

        var hash = Sha1.hash(secret);
        var url = "/" + hash + "/"+ projectPath;
        var alert = document.querySelectorAll('[data-id="alert"]');
        var request = new XMLHttpRequest();

        request.open('GET', url, true);

        function handleError() {
            alert[0].style.display = 'block';
            password[0].setAttribute('placeholder', 'Incorrect password');
            password[0].value = '';
        }

        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                setSecret(secret);
                window.location = url;
            } else {
                handleError();
            }
        };
        request.onerror = handleError;
        request.send();
    }

    button[0].addEventListener("click", function () {
        login(password[0].value)
    });

    document.onkeydown = function (e) {
        e = e || window.event;
        if (e.keyCode === 13) {
            login(password[0].value)
        }
    };

    function setSecret(secret) {
        if (supportsLocalStorage()) {
            localStorage.setItem('portfolio-secret', secret);
        }
    }

    function getSecret() {
        if (supportsLocalStorage()) {
            return localStorage.getItem("portfolio-secret");
        } else {
            return null;
        }
    }

    function supportsLocalStorage() {
        try {
            return 'localStorage' in window && window['localStorage'] !== null;
        } catch (e) {
            return false;
        }
    }

</script>
