.a {
    grid-column: 5 / 7;
    grid-row: 1 / 6;
    background-color: blue;
    font-size: 77px;
    text-align: center;
    position: relative;
font-size: 30vw;
    font-variation-settings: 'STYL' 0, 'wght' 350, 'AWKD' 0, 'wdth' 0;

}