.r {
    grid-column: 1 / 5;
    grid-row: 5 / 8;
    background-color: blue;
    text-align: left;
    position: relative;
    font-variation-settings: 'STYL' 0, 'wght' 350, 'AWKD' 0, 'wdth' 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-sizing {
    font-size: 20vw;

}