---
title: About me
name: about
---


<div class="about">

    <div class="header">
        <div class="header-logo">

            <a href="/" class="  fancy-cta"><h1>rg</h1></a>

        </div>
     
    
        <div class="header-page-title ">
            <div class=""><h1>about</h1></div> 
        </div>

    </div>

    <div class="about-content">
        <div class="about-content--left">
            <div class="about-img">
                <img src="/assets/toolkit/images/rachael-grocott.jpg">
                <div class="about-img--corner">
                    <img src="/assets/toolkit/images/about-image-corner.svg">
                </div>
            </div>

        </div>

        <div class="about-content--right">


            <h3>Hiya!</h3>
            <p>I think my Twitter bio sums me up: 👩🏽‍💻 Product Designer at 
                @geckoboard. ‍👯‍♀️ Co-founder & organiser of @triangirlsocial.
                 🤦🏽‍♀️ Daft Northerner the rest of the time.
            </p>

            <h3>Wanna know more?</h3>
            <p>
                I’m a Product Designer at <a class="body-link" target="_blank" href="https://www.geckoboard.com/">Geckoboard</a>, I have over 8 
                years experience in the industry and working in small 
                companies has given me experience in all aspects of 
                the product process. 
            </p>
            <p>
                I’m adept at product research, user research, prototyping, 
                UX and UI design, and love to user test my solutions with 
                customers. 
            </p>
            <p>
                For a long time in my career I was the only woman. Realising 
                this was the norm for a lot of us, I co-founded a community 
                for womxn in Tech called <a class="body-link" href="https://www.triangirls.com/" target="_blank">Triangirls</a>. 
            </p>
            <p>
                We meet monthly to discuss the topics many shy away from; 
                f*ck ups, masturbation and pay negotiation. Yes. really. 
                These are all topics we’ve run events on.
            </p>
            <p>
                I’ve also writted for for <a class="body-link" target="_blank" href="https://www.pressreader.com/australia/net-magazine/20180125/page/3">NetMag</a>, 
                been interviewed by <a class="body-link" target="_blank" href="https://notaschool-samsung.vice.com/rachael-grocott">Vice</a>
                and spoken at companies like Samsung and Monzo.
            </p>
        </div>

    </div>



    
</div>