.pd-most-recent-img {
    background-color: $c-yellow;
    grid-column: 1 / 17;
    grid-row: 3 / 4;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 1 / 9;
        grid-row: 3 / 5;
        padding: 2rem;

    }
}