.pd-project {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 1rem;
    height:100%;

    @include respond-min($bp-medium) {
        flex-direction: row;
        align-items: center;
        padding: 2rem;

    }
}


.pd-project__img {
    flex: 0 0 50%;
    padding: 1rem 0 2rem 1.5rem;

    @include respond-min($bp-medium) {
        padding: 0;

    }

}

.pd-project__btn {
    padding-bottom: 2rem;
    justify-self: flex-end;

    @include respond-min($bp-medium) {
        padding-bottom: 0;
    }

}

.pd-project-row {
    display: flex;
    flex-direction: column;

    @include respond-min($bp-medium) {
        flex-direction: row;
    }


}

.pd-project__info {
    display: flex;
    flex-direction: column;
    min-height: 240px;
    justify-content: space-between;

    @include respond-min($bp-medium) {
        padding-left: 2rem;
        flex: 0 0 50%;
    }


    span {

        line-height: 1.5;
        padding-bottom: 2rem;

        @include respond-min($bp-medium) {
            padding-bottom: 1rem;
            min-height: 100px;
        }

        @include respond-min($bp-x-large) {
            width: 80%;
        }
    }
}

.pd-project--split {
    flex: 0 0 49.5%;
    min-height: 470px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    @include respond-min($bp-medium) {
        width: 80%;
        padding-bottom: 1rem;
    }

    @include respond-min($bp-x-large) {
        flex: 0 0 49.69%;

    }


    &_inner {
        @include respond-min($bp-medium) {
            align-self: center;

            .pd-project__info {
                padding-left: 0;

            }
        }
    }

    .pd-project__info {
        flex: 1;

    }

}

.pd-project--gb {
    background-color: $c-pink;

    @include respond-min($bp-medium) {
        min-height: 470px;
    }
}

.pd-project--red {
    background-color: $c-yellow;
    margin-bottom: 5px;
    justify-content: center;

    @include respond-min($bp-medium) {
        margin-right: 5px;
        justify-content: flex-start;

    }
}

.pd-project--lm {
    background-color: $c-green;
    margin-top: 5px;
    justify-content: center;

    @include respond-min($bp-medium) {
        margin-left: 5px;
        margin-top: 0;
        justify-content: flex-start;
    }
}

.pd-project_divide {
    background-color: $c-grey;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'silkabold';
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 4;

    span {
        flex: 2;
        padding: .5rem;

    }

}

.pd-project_divide_img {
    position: relative;
    flex: 4;
    background-repeat: no-repeat;

    &:before {
        background-size: contain;
        position: absolute;
        background-repeat: repeat-x;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        }

}


.pd-project_divide_img--right {


    &:before {
        content: "";
        background-image: url("/assets/toolkit/images/work/portfolio-divide-pattern-1.svg");
        background-position: left;
        }
}

.pd-project_divide_img--left {
    flex: 4;

    &:before {
        content: "";
        background-image: url("/assets/toolkit/images/work/portfolio-divide-pattern-1.svg");
        background-position: right;
        }
}

.pd-illustration-section {
    position: relative;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: 0;
    min-height: 99.5vh;
    width: 98.5vw;
    margin: -5px;

    @include respond-min($bp-medium) {
        width:99vw;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @include respond-min($bp-large) {
        width:99.2vw;

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);    
    }

    @include respond-min($bp-x-large) {
        width:99.4vw;
    }

    .grid-container {
        margin: 5px;
        background-color: transparent;
        position: relative;
        flex-direction: row;

        &:hover {

            .pd-illustration_img_colour {
                background-color: transparent;
                transition: all .15s ease-in-out;
            }


            .pd-illustration_img {
                filter: grayscale(0%);
                transition: all .15s ease-in-out;
            }
        }
    }
}



.pd-illustration_img {
    filter: grayscale(100%);
    transition: all .15s ease-in-out;
    object-fit: cover;

    // &:hover {
    //     filter: grayscale(0%);
    //     transition: all .15s ease-in-out;

    // }
}

.pd-illustration_img_colour {
    mix-blend-mode: multiply;
    transition: all .15s ease-in-out;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;


}

.pd-illustration_img_colour--1 {
        background-color: $c-yellow;
}

.pd-illustration_img_colour--2 {
    background-color: $c-pink;
}

.pd-illustration_img_colour--3 {
    background-color: $c-green;
}

.pd-illustration_img_colour--4 {
    background-color: $c-blue;
}

.pd-illustration_img_colour--5 {
background-color: $c-grey;
}

.pd-illustration_img_colour--6 {
background-color: $c-pink;
}


