.pd-circle-stripe {


    grid-column: 1 / 17;
    grid-row: 14 / 15;
    position: relative;


    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 1 / 17;
        grid-row: 8 / 9;
    }
}

.pd-circle-stripe__bg {
    background-image: url("/assets/toolkit/images/circle-padded.png");
    background-repeat: space;
    background-position: 50% 50%;
    background-size: contain;
    width: 100%;
    height: 100%;
}
