<div class="row">

    <div class="case-study-about col-xs-3">
        <h1>MEMZ</h1>
        <span>Redesigning a real-time photo streaming app</span>
    </div>

    <div class="case-study-body col-xs-8">
        <h3>Why?</h3>

        <p class="case-study-para">MEMZ was initially made in a hack day where we
            chose to create a live photosharing app. When we
            decided to take the product seriously, it looked
            like this:
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/memz/old-memz.jpg" alt="memz old design">
        </div>

        <p class="case-study-para">
            Ok, so it’s not the worst, but I didn’t design
            it, so I asked if we could take it back to the
            drawing board.
        </p>

        <h3>Discovery</h3>

        <p class="case-study-para">
            We worked together to think of a use case for
            the app and decided on a big life event. A
            wedding was too obvious (as that was where the
            initial idea came from) so we chose a hen party.
            From there, it was easy to write up our user
            personas.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/memz/memz-personas.jpg" alt="memz user personas">
        </div>


        <p class="case-study-para">
            Then we walked through the journey of the
            most important user, Rachel. This led us to
            our MVP, and from there we chose the least
            cards that would deliver value for Rachel.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/memz/memz-mvp.jpg" alt="memz mvp">
        </div>


        <h3>Design</h3>

        <p class="case-study-para">
            As this was a redesign of a product, and also a
            hack week, I went straight into simplifying the
            design and creating a clean interface. My first
            step was to simplify the logo. Then I worked with
            the team (our target users) to create a user
            friendly and intuitive sign up process.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/memz/memz-onboard.jpg" alt="memz onboarding screens">
        </div>

        <p class="case-study-para">
            Then came the feed itself, which ended up as a
            really clean interface to let the photos shine.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/memz/memz-feed.jpg" alt="memz final design">
        </div>

    </div>

</div>
