<div class="row">

    <div class="case-study-about col-xs-3">
        <h1>RED</h1>
        <span>A real-estate database for landlords</span>
    </div>

    <div class="case-study-body col-xs-8">
        <h3>The brief</h3>

        <p class="case-study-para">
            The Rehau Group is a family-owned polymer
            business, which works in the fields of
            construction, industry and as an automotive
            supplier. They have over 20,000 employees
            at over 170 locations around the world and
            the turnover of the whole group amounts to
            approximately €2.8 billion.
        </p>

        <p class="case-study-para">
            As a consequence, they hold a large portfolio
            of real estate which has been difficult to
            manage due to a lack of a centralised property
            management strategy. That’s where we came in,
            to create a responsive real-estate database.
        </p>

        <h3>Discovery</h3>

        <p class="case-study-para">
            We flew in the key stakeholders from the client
            side, to get everyone in room and map out what
            we wanted the product to be. Their current
            ‘system’ was to have everything paper based,
            in office all over the world. When asked how
            many proprties they owned, the answer took a
            year to find. So we knew that a key MVP was
            to have a place where all of the properties
            are stored, and that they can see at a glance
            what the total number is.
        </p>

        <p class="case-study-para">
            We then broke down the MVP into manageable
            chunks of work, which would be delivered
            continuously.
        </p>

        <h2>Design</h2>

        <h3>Sketching session</h3>

        <p class="case-study-para">
            After writing up our user stories, acceptance
            criteria, and feature files together with the
            client, we were ready to begin with our sketching
            sessions. These are small workshops I’ll run with
            the client Product Owner and our product team
            (frontend and backend developers) and of course,
            myself. When these are scheduled, I’ll ask all
            participants to carry out some design research
            so that we’re fully inspired when we go into the
            sketching.

        </p>

        <p class="case-study-para">
            Once we’ve shared any inspirational solutions
            with the group, we’ll use Trello as a guide to
            begin sketching out some really quick
            solutions to our problems.

        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/red/sketching-session.jpg"
                 alt="sketching session with RED Product Owner">
        </div>

        <p class="case-study-para">
            We use a trick from the Design Sprint called
            ‘crazy eights’ which involves folding the
            paper into eight sections to sketch out
            multiple ideas. Encouraging people to think
            beyond their initial preconceptions more
            often than not brings out some of the best
            ideas.
        </p>

        <p class="case-study-para">
            Once we’re finished sketching, everyone gets
            the chance to explain their ideas before
            voting on their favourite concept. Once we
            have a idea of the strongest concepts we
            have everything we need to mock up vanilla
            wireframes ready for the first round of
            critique.
        </p>

        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/red/red-wireframe.jpg" alt="red wireframes from skecthing session">
        </div>

        <h3>High fidelity design</h3>

        <p class="case-study-para">
            Unfortunately, as this client were based in
            Germany, and trusting a consultancy firm to
            liaise with us, we never got access to real
            users for our user testing, but we certainly
            carried out testing within the company to
            sense check our user journeys.

        </p>

        <p class="case-study-para">
            Once everyone was happy, I was able to add in
            the final design treatment based on the
            company’s already established branding and
            colour palette.
        </p>


        <div class="case-study-img">
            <img src="/assets/toolkit/images/work/red/red-final.jpg" alt="red final designs">
        </div>


        <h3>Development</h3>

        <p class="case-study-para">
            I work closely with our developers and I’m
            always at hand when the inevitable questions
            and queries come up ‘what happens when a user
            clicks X’ etc. Once they're finished, I'll run through a
            detailed quality assurance process when the
            release goes onto staging, so we can make
            any necessary changes before final sign off
            with the client.
        </p>

        <p class="case-study-para">
            Then the whole process happens all over again
            for the next iteration of work  
        </p>

    </div>

</div>
