.about-content {

    grid-column: 1 / 17;
    grid-row: 3 / 12;
    position: relative;
    // font-size: 77px;
    text-align: left;
    padding: 1rem;


    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 1 /17;
        grid-row: 2 / 23;
    }

    @include respond-min($bp-large) {
        grid-column: 1 /9;
        grid-row: 5 / 23;
        padding: 2rem;
    }

    @include respond-min($bp-x-large) {
        grid-column: 1 /9;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: calc(16px + 10* ((100vw - 320px) / 800));
        line-height: 1.5;


    @include respond-min($bp-large) {
        font-size: calc(8px + 8* ((100vw - 320px) / 800));
    }
    @include respond-min($bp-x-large) {
        font-size: calc(8px + 6* ((100vw - 320px) / 800));
    }
    }

    a {
        position: relative;
        z-index: 999;;
    }


}