.about-img {
padding:2rem;
align-self: center;
    @include respond-min($bp-medium) {
        padding:4rem;

    }
}

.about-img--corner {
    position: absolute;
    right:0%;
    bottom:5%;
    width: 30%;


    @include respond-min($bp-medium) {
        width: 30%;
        bottom: 25%;
        right:5%
    }

    @include respond-min($bp-large) {
        right:10%;
        bottom:15%;
    }

    @include respond-min($bp-x-large) {
        right:10%;
        bottom:10%;
    }
}