.about-content {

    grid-column: 1 / 17;
    grid-row: 3 / 12;
    position: relative;
    // font-size: 77px;
    text-align: left;
    padding: 1rem;


    &:after {
        position: absolute;
        border: 10px solid black;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
    }

    @include respond-min($bp-medium) {
        grid-column: 1 / 12;
        grid-row: 4 / 23;
    }

    @include respond-min($bp-large) {
        grid-column: 3 /13;
        grid-row: 5 / 23;
        padding: 2rem;
    }

    @include respond-min($bp-x-large) {
        grid-column: 3 /11;
        padding: 4rem;
        padding-right: 8rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    a {
        position: relative;
        z-index: 999;;
    }


}