/**
 * Buttons
 * -----
 * Visual representation of a button
 */

$button-background: rgb(233, 233, 233);
$button-border: 3px solid #454545;

.btn {
    cursor: pointer;
    background: $button-background;
    border: $button-border;
    display: inline-block;
    font: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: $c-black;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        background: rgb(198, 198, 198);
        transition: all 0.3s;
    }
}

/**
 * Modifiers
 */

.btn--small {
    padding: 0.5rem;
}

.btn--large {
    padding: 1.5rem;
}
