.password {
    .btn {
        margin-top: 1rem;

        @include respond-min($bp-medium) {
            margin-left: 1rem;
            margin-top: 0;
          }
    }
}

.password-action {
    display: flex;
    flex-direction: column;

    @include respond-min($bp-medium) {
        flex-direction: row;

      }

}