---
title: Geckoboard
name: geckoboard
---


<div class="project">
    
    <div class="header">
        <div class="header-logo">

            <a href="/" class=""><h1>rg</h1></a>

        </div>
     
    
        <div class="header-page-title ">
            <div class=""><h1>geckoboard</h1></div> 
        </div>

    </div>
     
     <div class="project__content">
         <div class="project__content-padding"></div>
         <div class="project__content-wrapper">


            <div class="project__content__container">

            <h1>Geckoboard</h1>

            <div class="project__headline">

                Updating a 12 year old interface, 
                whilst enhancing the usability and readability of TV dashboards.
            </div>

            <div class="project__intro">

                Geckoboard allows people to display their dashboards on an 
                office TV or big-screen monitor in minutes, to make key 
                metrics unmissable for their team.

            </div>

            <div class="project__breakout">
                <div class="project__breakout__corner"></div>
                <div class="project__breakout__corner-fill-border"></div>

                <div class="project__breakout__corner-fill"></div>
                <div class="project__breakout__shadow"></div>
                <div class="project__breakout__text">
                    <h3>The problem</h2>
                    <div class="indented"><p>We want our customers to be making best in class 
                        dashboards: dashboards that look great, effectively 
                        communicate their data by showing relationships and 
                        hierarchy and are easily understood by anyone who 
                        views them.</p></div>
                </div>                

            </div>

        </div>

        <div class="project__divider project__divider--circle">
            <div class="pd-circle-stripe__bg"></div>
        </div>

        <div class="project__content__container">

            <h2>Research phase</h2>

            <p>I reviewed around 50 customer dashboards to establish the main problems:
            </p>

            <div class="project__img">
                <img class="project__img__img" src="/assets/toolkit/images/work/gb/dash-research.png">
                <div class="project__img__shadow "></div>
            </div>

            <p>These were prioritised into importance of how many times they appeared:

                </p>
                <ol>
                    <li>No sense of relationships</li>
                    <li>Cognitive overload. Some dashboards had up to 36 widgets, all the same size. It was hard to know where to look, what was important</li>
                    <li>Number widget not using the space of its container - resulting in lots of whitespace in a dashboard where space is at a premium</li>
                    <li>Numbers misaligned, making it hard to compare and scan metrics</li>
                </ol>

                <p>Before taking the project any further, my Product Manager 
                    and I took several of the ‘worst’ dashboards customers 
                    had created and set out to make them better using the 
                    product as it was. We wanted to be absolutely certain 
                    that the problem was in our current solution, and not 
                    the education that we’re providing our customers. We 
                    wondered if actually we could not build anything new and 
                    instead perhaps educate or guide users to better solutions.
                </p>
    
                <div class="project__img">
                    <img class="project__img__img--plain" src="/assets/toolkit/images/work/gb/gb-test.png">
                </div>
    
    
                <p>The result was that yes, we could make them a little better, 
                    but it was still really hard to see relationships and there 
                    was still a lot of repetition. Given that we, the ‘dashboard design 
                    professionals’ couldn’t make something that we considered great, we 
                    felt more confident that we needed to make bigger changes to the 
                    dashboards. 
                </p>

        </div>

        <div class="project__divider ">
            <div class="project-divider--angle-stripe2"></div>
        </div>

        <div class="project__content__container">
            <h2>Proposed solution</h2>


            <div class="project__breakout">
                <div class="project__breakout__corner"></div>
                <div class="project__breakout__corner-fill-border"></div>

                <div class="project__breakout__corner-fill"></div>
                <div class="project__breakout__shadow"></div>
                <div class="project__breakout__text">
                    <h3>Grouping functionality </h2>
                    <div class="indented"><p>The ability to group metrics
                        will help to show relationships in data, help with cognitive overload 
                        and is a start towards showing hierarchy.
                    </p>
                    </div>
                </div>  
            </div>
 

            <h2>Sketching session</h2>
            <p>This project was my first after joining Geckoboard, 
                and whilst I had lots of ideas, I knew that senior 
                stakeholders and longer standing colleagues had much 
                more domain and technical knowledge than me, so to 
                leverage this, I invited them to sketch out their ideas with me. 
            </p>

            <div class="project__img">
                <img class="project__img__img--plain" src="/assets/toolkit/images/work/gb/sketches.png">
            </div>

            <p>It was great to see how creative people were with their grouping: </p>
                <ul>
                    <li>Most important metrics in larger groups, higher up the viewport
                    </li>
                    <li>Portrait dashboards</li>
                    <li>Less of a grid</li>
                </ul>



        </div>

        <div class="project__divider ">
            <div class="project-divider--angle-stripe"></div>
        </div>

        <div class="project__content__container">

            <h2>Design test</h2>
            <p>I took the sketches and mocked them up into a rough, 
                but idealistic end result using data from a real customer dashboard. 
            </p>
            <p>It was clear at this point that we saw real value in being 
                able to <span>group</span> metrics. This has multiple benefits: 
                clear relationships shown, less repetition of text in 
                titles, and less cognitive load.
            </p>
            <div class="project__img">
                <img class="project__img__img" src="/assets/toolkit/images/work/gb/early-designs.png">
                <div class="project__img__shadow "></div>
            </div>

        </div>

        <div class="project__divider project__divider--circle">
            <div class="pd-circle-stripe__bg"></div>
        </div>

        <div class="project__content__container">

            <h2>Prototyping</h2>
            <p>Once we were happy with the notion of grouping; 
                how it would look and also the technical feasibility, 
                we began protyping the UX to group metrics together.
            </p>
            <div class="project__img">
                <img class="project__img__img--plain" src="/assets/toolkit/images/work/gb/prototypes.png">
            </div>

            <p>In this phase, I was working with one frontend developer. 
                We were making fast prototypes, testing and then making 
                quick changes. As we were such a small team (one PM, one 
                dev and me) we were testing a LOT but taking it in turns 
                to lead the sessions. This was great as we all got to be 
                involved, see the pain points and come to the same 
                conclusions together. </p>
        </div>

        <div class="project__divider ">
            <div class="project-divider--angle-stripe2"></div>
        </div>

        <div class="project__content__container">

            <h2>The results</h2>
            <p>At the end of the project, I gathered screenshots of the new dashboards and 
                reviewed them using the same criteria as my initial review. 

                This exercise also doubled up as a review of these dashboards to highlight the main bugs
                and issues. In true meta fashion, I made a dashboard of the results:
            </p>
            <div class="project__img">
                <img class="project__img__img" src="/assets/toolkit/images/work/gb/review.png">
                <div class="project__img__shadow "></div>
            </div>

            <p>Next up will be iteration! Watch this space. </p>
        </div>
     </div>

    </div>




    
</div>